# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: octatec
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: example
# "service" is the name of this project. This will also be added to your AWS resource names.
service: appointment

build:
  esbuild:
  # Enable or Disable bundling the function code and dependencies. (Default: true)
  bundle: true
  # Enable minifying function code. (Default: false)
  minify: false
  # NPM packages to not be bundled
  external:
    - "@aws-sdk/client-s3"
  # NPM packages to not be bundled, as well as not included in node_modules
  # in the zip file uploaded to Lambda. By default this will be set to aws-sdk
  # if the runtime is set to nodejs16.x or lower or set to @aws-sdk/* if set to nodejs18.x or higher.
  exclude:
    - "@aws-sdk/*"
  # The packages config, this can be set to override the behavior of external
  # If this is set then all dependencies will be treated as external and not bundled.
  packages: external
  # By default Framework will attempt to build and package all functions concurrently.
  # This property can bet set to a different number if you wish to limit the
  # concurrency of those operations.
  buildConcurrency: 3
  # Enable or configure sourcemaps, can be set to true or to an object with further configuration.
  sourcemap:
    # The sourcemap type to use, options are (inline, linked, or external)
    type: linked
    # Whether to set the NODE_OPTIONS on functions to enable sourcemaps on Lambda
    setNodeOptions: true

provider:
  name: aws
  runtime: nodejs20.x

resources:
  Resources:
    AppointmentTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Appointment
        AttributeDefinitions:
          - AttributeName: scheduleId
            AttributeType: S
          - AttributeName: insuredId
            AttributeType: N
        KeySchema:
          - AttributeName: scheduleId
            KeyType: HASH
          - AttributeName: insuredId
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    sns:
      Type: AWS::SNS::Topic
      Properties:
        DisplayName: Appointment
        TopicName: Appointment
    sqsPE:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: SqsAppointmentPe
    sqsCL:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: SqsAppointmentCl
    sqs:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: "SqsAppointmentCompleted"

    evAppointment:
      Type: AWS::Events::Rule
      Properties:
        EventPattern:
          source:
            - "appointment.service"
          detail-type:
            - "appointmentCompleted"
        Targets:
          - Arn:
              Fn::GetAtt:
                - "SqsAppointmentCompleted"
                - Arn
            Id: SQSCompletedTarget

functions:
  appointment:
    handler: src/adapters/handlers/appointmentHandler.handler
    events:
      - httpApi:
          path: /appointments
          method: get
      - httpApi:
          path: /insureds/{insuredId}/appointments
          method: get
      - sqs:
          arn:
            Fn::GetAtt:
              - "SqsAppointmentCompleted"
              - Arn
  appointment_cl:
    handler: src/adapters/handlers/appointmentPEHandler.handler
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - SqsAppointmentPe
              - Arn
  appointment_pe:
    handler: src/adapters/handlers/appointmentCLHandler.handler
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - SqsAppointmentCl
              - Arn
